.movie-home-content {
    padding: 64px;
}

.movie-home-list {
    margin-bottom: 32px;
}

.movies-home-link {
    color: inherit;
    text-decoration: inherit;
}

.movies-home-link:hover {
    cursor: pointer;
}